#checkout {

    label {
        margin: 0 0 0 25px;
    }
    input {
        height: 50px;
        padding: 0 25px;
        border-radius:40px;
        box-shadow: inset 0 1px 4px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
        border: 1px solid transparent;
    }

    .header-checkout {
        height: 200px;
        background-color:$second-color;
        position: relative;

        .content-header { 
            max-width: 1140px;
            width: 100%;
            padding: 0 15px;
            margin: 0 auto;
            p {
                width: 50%;
                margin: 0 auto;
                text-transform: initial;
                text-align: center;
                line-height: 2;
                padding-top: 60px;
            }
            h3 {
                bottom: -40px;
            }
        }
    }
    .form-data {
        width: 60%;
        margin: 70px auto 140px auto;
        position: relative;
        .box-fields {
            display: flex;
            .ddd{
                flex-basis: 35%;
            }
            .w100 {
                margin-left: 15px;
            }
        }
        .btn-data {
            position: absolute;
            bottom: -70px;
            right: 0;

            @media only screen and (max-width: 991px) {
                display: block;
                left: 0;
                right: 0;
            }
        }
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }
    .box-booking-data {

        display: -ms-grid;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-auto-rows: auto;
        padding: 120px 0 0 0;
        margin: 0 40px;
        grid-gap: 40px;

        @media only screen and (max-width: 991px) {
            grid-template-columns: 100%;
        }

        .resume-buyer {
            
            .box-promotion {
                height: 600px;
                border-radius: 40px;
                @include shandow;
                overflow: hidden;
                transition: all .2s ease-in-out;
                cursor: pointer;
                padding:2px;
                position: relative;
                border: 2px solid $primary-color;

                .img-container {
                    position: absolute;
                    top: -20px;
                    right: -20px;
                    transition: all .2s ease-in-out;
                    width: 50%;
                    img {
                        width: 100%;
                    }
        
                }
                .text-container {
                    margin-top: 25px;
                    padding: 15px 50px 0 25px;
                    line-height: 1;
                    header {
                        font-size: 1.7777777777777777rem;
                    }
                    .header-subtitle {
                        display: block;
                    }
                }
                .content-itens-resume {

                    margin-top: 20px;

                    .title-resume {
                        font-size: 20px;
                        width: 100%;
                        color: $primary-color;
                        padding: 10px 20px;
                        background-color: $second-color;
                    }
                    .form-row {
                        margin: 10px 0;
                        padding: 0 20px;
                        label {
                            text-transform: initial;
                        }
                        input {
                            height: 30px;
                        }
                    }
                }

                .content-value { 

                    text-align: right;
                    padding: 10px 20px;

                    & > span {
                        display: block;
                    }
                    .text-total {
                        font-size: 26px;
                        line-height: 1;
                    }
                    .text-value {
                        font-size: 22px;
       
                    }
        
                }
    
            }
        }

        .data-banks {
            
            position: relative;

            .payment-methods{

                img {
                    width: 60%;
                }
                .content-check-payment {
                    width: 100%;
                    border-top: solid 1px $second-color-variant;
                    border-bottom: solid 1px $second-color-variant;
                
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content:start;

                    @media only screen and (max-width: 991px) {
                    }

                    .custom-control {
            

                        .custom-control-label {
                            &:before,
                            &:after {
                                display: flex;
                                -webkit-align-items: center;
                                align-items: center;
                                -webkit-justify-content: center;
                                justify-content: center;
            
                            }
                        }

                    }
                    .checkbox {
                        display: inline;
                    }
    
                    input {
                        height: initial ;
        
                    }
        
                }
            }


            .content-card-inputs {
                margin: 40px 0;                
                display: block;
                
            }
            .box-fields {
                display: flex;
                .val{
                    flex-basis: 45%;
                }
                .cod {
                    margin-left: 25px;
                    flex-basis: 25%;

                }
            } 
            .title-terms {

            }
            .content-check {
                width: 100%;
                border-bottom: solid 1px $second-color-variant;
                padding: 20px 0;
                @media only screen and (max-width: 991px) {
                    grid-template-columns: 100%;
                }

                .checkbox {
                    display: inline;
                }

                input {
                    height: initial ;
    
                }
                span {
                    font-size: 14px;
                    text-transform: initial;
                    display: block;
                    margin-left: 25px;
                }
    
            }
     
            .btn-confirm-payment {
                position: absolute;
                bottom: 0;
                right: 0;
                @media only screen and (max-width: 991px) {
                    bottom: -70px;
                }
            }
      

        }

    }
}
